.review {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
}

.review-item {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.feedback-message.success {
    color: #28a745;
}

.feedback-message.error {
    color: #dc3545;
}

.h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}