/* Step2.css */
.step2 {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.step2 h4 {
    margin-bottom: 20px;
    font-size: 20px;
}

.candidate-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.candidate-card {
    position: relative;
    background-color: #333333;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid transparent;
}

.candidate-card.selected {
    border-color: green;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3);
}

.candidate-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.candidate-info {
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
}

.candidate-number {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #ffffff;
    background-color: var(--candidate-color, #666); /* Default color, dynamically set via JS */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), /* Outer shadow */
    inset 0 2px 4px rgba(255, 255, 255, 0.5); /* Inner light */
}


.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
}
