/*.step3 {*/
/*    padding: 20px;*/
/*    font-family: Arial, sans-serif;*/
/*}*/

/*h4 {*/
/*    text-align: center;*/
/*    font-size: 20px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.search-input {*/
/*    width: 90%;*/
/*    margin: 0 auto 20px;*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*    border: 1px solid #ccc;*/
/*    font-size: 16px;*/
/*    display: block;*/
/*}*/

/*.candidate-vereador-grid {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, 1fr); !* Two columns *!*/
/*    gap: 10px;*/
/*}*/

/*.candidate-vereador-card {*/
/*    position: relative;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    background-color: #1b1b1b;*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
/*    border: 2px solid #3a3a3a;*/
/*    cursor: pointer;*/
/*    transition: border-color 0.3s, transform 0.3s;*/
/*    padding: 0; !* No padding for a tight fit *!*/
/*}*/

/*.candidate-vereador-card.selected {*/
/*    border-color: #28a745;*/
/*    transform: scale(1.05);*/
/*}*/

/*.candidate-vereador-image {*/
/*    width: 40%; !* 2/5 of the card *!*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    border-radius: 0; !* No border radius for a tighter fit *!*/
/*}*/

/*.candidate-vereador-info {*/
/*    width: 60%; !* 3/5 of the card *!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    padding: 5px; !* Minimal padding for the text *!*/
/*}*/

/*.candidate-vereador-info p {*/
/*    margin: 0;*/
/*    font-size: 12px; !* Smaller font size to fit better *!*/
/*    font-weight: bold;*/
/*    color: #ffffff;*/
/*    text-align: left;*/
/*    line-height: 1.2;*/
/*    margin-top: 0px; !* Position name closer to the top *!*/
/*}*/

/*.candidate-vereador-number {*/
/*    position: absolute;*/
/*    bottom: 8px; !* Positioned at the bottom right *!*/
/*    right: 10px;*/
/*    padding: 3px 8px;*/
/*    border-radius: 5px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: 12px; !* Slightly smaller to fit *!*/
/*    color: #ffffff;*/
/*    background-color: var(--candidate-color);*/
/*    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),*/
/*    inset 0px 2px 4px rgba(255, 255, 255, 0.1);*/
/*}*/






.step3 {
    padding: 10px;
    font-family: Arial, sans-serif;
}

h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.search-input {
    width: 90%;
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: block;
}

.candidate-vereador-grid {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow: scroll;
    max-height: calc(100vh - 400px); /* Define uma altura máxima para o grid, ajustando para acomodar os botões */
    /*grid-template-columns: repeat(2, 1fr); !* Duas colunas *!*/
    gap: 10px;
    flex-grow: 1; /* Permite que o grid cresça para preencher o espaço disponível */

    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*    overflow-y: auto; !* Adiciona o scroll vertical *!*/
    /*    flex-grow: 1; !* Permite que o grid cresça para preencher o espaço disponível *!*/
    /*    margin-bottom: 20px; !* Adiciona espaço para os botões *!*/
    /*    gap: 10px;*/
}

.candidate-vereador-card {
    display: flex;
    flex-wrap: nowrap;
    width: 45%; /* Tamanho total do card */
    height: 80px; /* Altura total do card */
    background-color: #333333;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #3a3a3a;
    cursor: pointer;
    position: relative;
    padding: 0;
    flex-direction: row;
    flex-grow: 2;
}

.candidate-vereador-content {
    display: flex;
    flex-direction: column;
}

.candidate-vereador-card.selected {
    border-color: #28a745;
    /*transform: scale(1.05);*/
}

/* Quadrante 1: Imagem do vereador  OK*/
.quadrant-1 {
    flex: 0 0 40%; /* 40% da largura total */
    display: flex;
    align-items: center;
    padding-top: 7px;
}

.candidate-vereador-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;

}

/* Quadrante 2: Nome do vereador */
.quadrant-2 {
    flex: 0 0 60%; /* 60% da largura total */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.candidate-vereador-name {
    flex: 0 0 50%;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    color: white;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
}

/* Quadrante 4b: Número do vereador */
.quadrant-4b {
    flex: 0 0 20%;
    display: flex;
    padding: 0px;
}

.candidate-vereador-number {
    background-color: var(--candidate-color, #ff0000);
    padding: 5px 10px;
    margin-top: -5px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1);
}

.candidate-vereador-card {
    --candidate-color: #3a3a3a; /* default color */
}

.candidate-vereador-card[data-color] {
    --candidate-color: attr(data-color);
}


.no-candidate-message {
    color: #ff0000;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}


/*.step3 {*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    height: 100%; !* Ajusta a altura do step3 para ocupar todo o espaço disponível *!*/
/*    padding: 20px;*/
/*}*/

/*.candidate-vereador-grid {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    overflow-y: auto; !* Adiciona o scroll vertical *!*/
/*    flex-grow: 1; !* Permite que o grid cresça para preencher o espaço disponível *!*/
/*    margin-bottom: 20px; !* Adiciona espaço para os botões *!*/
/*    gap: 10px;*/
/*}*/

/*.no-candidate-message {*/
/*    margin-top: 20px;*/
/*    color: #ff0000; !* Cor de destaque para a mensagem *!*/
/*    text-align: center;*/
/*}*/

/*button-group {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-top: 10px;*/
/*}*/

/*button {*/
/*    padding: 10px 20px;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*    background-color: #007bff;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    color: white;*/
/*}*/

/*button:hover {*/
/*    background-color: #0056b3;*/
/*}*/
