.step3 {
    padding: 10px;
    font-family: Arial, sans-serif;
    height: 100%;
}

h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.candidate-vereador-grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow: scroll;
    max-height: calc(100vh - 270px); /* Define uma altura máxima para o grid, ajustando para acomodar os botões */
    /*grid-template-columns: repeat(2, 1fr); !* Duas colunas *!*/
    gap: 10px;
    flex-grow: 1; /* Permite que o grid cresça para preencher o espaço disponível */

    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*    overflow-y: auto; !* Adiciona o scroll vertical *!*/
    /*    flex-grow: 1; !* Permite que o grid cresça para preencher o espaço disponível *!*/
    /*    margin-bottom: 20px; !* Adiciona espaço para os botões *!*/
    /*    gap: 10px;*/
}

.candidate-vereador-card {
    display: flex;
    flex-wrap: nowrap;
    width: 45%; /* Tamanho total do card */
    height: 80px; /* Altura total do card */
    background-color: #333333;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #3a3a3a;
    cursor: pointer;
    position: relative;
    padding: 0;
    flex-direction: row;
    flex-grow: 2;
}

.candidate-vereador-content {
    display: flex;
    flex-direction: column;
}

.candidate-vereador-card.selected {
    border-color: #28a745;
    /*transform: scale(1.05);*/
}

/* Quadrante 1: Imagem do vereador  OK*/
.quadrant-1 {
    flex: 0 0 40%; /* 40% da largura total */
    display: flex;
    align-items: center;
    padding-top: 7px;
}

.candidate-vereador-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;

}

/* Quadrante 2: Nome do vereador */
.quadrant-2 {
    flex: 0 0 60%; /* 60% da largura total */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.candidate-vereador-name {
    flex: 0 0 50%;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    color: white;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
}

/* Quadrante 4b: Número do vereador */
.quadrant-4b {
    flex: 0 0 20%;
    display: flex;
    padding: 0px;
}

.candidate-vereador-number {
    background-color: var(--candidate-color, #ff0000);
    padding: 5px 10px;
    margin-top: -5px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1);
}

.candidate-vereador-card {
    --candidate-color: #3a3a3a; /* default color */
}

.candidate-vereador-card[data-color] {
    --candidate-color: attr(data-color);
}


.no-candidate-message {
    color: #ff0000;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}
