.tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.tab-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.tab-bar ul li {
    flex-grow: 1;
    text-align: center;
}

.tab-bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}