/* Garante que o html e body ocupem 100% da altura */
.login {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%; /* Ajuste para ocupar 100% da largura da tela */
    max-width: 350px; /* Definição de um tamanho máximo */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px; /* Aumentar o raio da borda para um efeito mais suave */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra ligeiramente maior */
}

.login-input {
    width: 100%;
    padding: 12px; /* Aumentar o padding para um campo de entrada maior */
    margin-bottom: 15px; /* Maior espaçamento entre os campos */
    border: 1px solid #ccc;
    border-radius: 6px; /* Aumentar o raio da borda */
    font-size: 1rem; /* Ajuste o tamanho da fonte para uma melhor leitura */
}

.login-input.error {
    border-color: red;
}

.login-error {
    color: red;
    margin-bottom: 15px;
    font-size: 0.9rem; /* Ajuste o tamanho da fonte para melhor legibilidade */
}

.login-button {
    padding: 12px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px; /* Aumentar o raio da borda */
    cursor: pointer;
    font-size: 1.1rem; /* Tamanho de fonte maior para o botão */
    font-weight: 600; /* Botão com uma fonte mais pesada */
}

.login-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.login-version {
    margin-top: 25px;
    font-size: 0.9rem; /* Ajustar o tamanho da fonte para melhor legibilidade */
    color: #777;
    text-align: center; /* Centralizar o texto da versão */
    font-size: 5px;
}